<form action="/courses/add" method="post">
  <input type="text" placeholder="Title" name="title"> <br>
  <textarea name="content" id="" cols="30" rows="10" placeholder="Content"></textarea>
  <button type="submit">Create course</button>
</form>